:root {
  --main-color: #ffcb05;
  --contrast-color: #3c7dca;
  --secondary-color: #003a70;
}

body {
  margin: 0;
  font-family: "Fuzzy Bubbles", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.pokemon {
  display: flex;
  margin-bottom: 20px;
  padding: 20px 20px 20px 5px;
}

.pokemon__data {
  padding: 15px 10px 10px 5px;
  width: 100%;
}

.pokemon__name {
  border-bottom: 1px dotted var(--secondary-color);
  margin: 0 0 12px 0;
  padding-bottom: 2px;
  color: var(--secondary-color);
}

.pokemon:nth-child(even) {
  background-color: var(--main-color);
}
.pokemon:nth-child(odd) {
  background-color: var(--contrast-color);
}

.pokemon:nth-child(odd) .pokemon__name {
  color: var(--main-color);
}
.pokemon:nth-child(even) .pokemon__name {
  color: var(--contrast-color);
}

.pokemon__height,
.pokemon__weight,
.pokemon__base-experience {
  font-weight: bold;
}

.pokemon__height span,
.pokemon__weight span,
.pokemon__base-experience span {
  font-weight: 400;
  padding: 0 10px 0 6px;
}

.pokemon__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon__actions button {
  width: 90px;
  height: 30px;
  font-size: 14px;
  background-color: #bfd9f2;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
}

@media screen and (min-width: 601px) {
  .app {
    max-width: 600px;
  }
}
